* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1e1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px; 
}

.login {
    background-color: #1a73e8;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 100%; 
    max-width: 400px; 
    animation: fadeIn 0.8s ease forwards;
}

.login-form h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 6px;
}

input {
    width: 100%; 
    height: 45px;
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.button {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 6px;
    margin-top: 12px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: #000dff;
    color: #ffffff;
    transition: background 0.3s;
}

.button:hover {
    background-color: #000bb8;
}

.form-footer {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}

.form-footer a {
    color: #f5f5dc; /* beige */
    text-decoration: none;
    font-weight: 600;
}
.lupa a{
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 480px) {
    .login {
        padding: 20px;
    }
    .login-form h2 {
        font-size: 20px;
    }
}
