* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #181E4B;
    overflow-x: hidden;
    line-height: 1.6;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 800;
    font-size: 24px;
}

.logo-icon {
    background: #4475F2;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(68, 117, 242, 0.3);
}

.menu {
    display: flex;
    gap: 30px;
    
}
.menu a {
    text-decoration: none;
    color: #181E4B;
    font-weight: 500;
    transition: 0.3s;
}

.menu a.active,
.menu a:hover {
    color: #4475F2;
}

.btn-login {
    background: #4475F2;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}


.menu2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8% 100px;
    gap: 50px;
    min-height: 80vh;
}

.menu-content {
    flex: 1;
    max-width: 600px;
}