* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f8f9fa;
    overflow-x: hidden;
    line-height: 1.6;
    
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    width: 100%;
    background-color:#335bc7;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.3s ease;
}



.container.scrolled {
    background-color: #264a9e;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 15px 8%;
    z-index: 99999;
}


.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}


.menu {
    position: relative;
}

#menu {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 15px;
    border-radius: 10px;
    list-style: none;
    z-index: 100000;
    min-width: 120px;
    background-color: #4475F2;
    margin: 8px;
}


#menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 5px 0;
}


nav {
    height: 15px;
    width: 35px;

}

.nav h1 {
    color: #f8f9fa;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 24px;
}

.active:hover {
    background-color: #4475F2;
}


.logo-icon {

    background: #4475F2;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(68, 117, 242, 0.3);
}

.menu {
    display: flex;
   
    flex-direction: column;

}

.menu a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s;
    flex-direction: column;
}

.active {
    border-color: #f8f9fa;
    display: block;
    flex-direction: column;
}

ul {
    border-radius: 18px;
}

.btn-login {
    display: flex;
    background: #4475F2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(68, 117, 242, 0.2);
    text-decoration: none;
    width: 130px;
    justify-content: center;
    padding: 10px 30px;
}


.menu2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8% 100px;
    gap: 50px;
    min-height: 80vh;
    padding-top: 100px;
}

.menu-content {
    flex: 1;
    max-width: 600px;
}

.menu-content h1 {
    font-size: clamp(32px, 5vw, 54px);

    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.highlight {
    color: #4475F2;
}

.menu-content p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-menu {
    background-color: #4475F2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary {
    display: block;
    justify-content: end;
    background: #4475F2;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(68, 117, 242, 0.2);
    transition: 0.3s;
}
.btn{
    text-decoration: none;
}


.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}


.gambar {
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-gambar {
    position: absolute;
    width: 80%;
    height: 90%;
    background: #4475F2;
    border-radius: 40px 150px 40px 40px;
    z-index: -1;
    top: 20px;
    right: 0;
    box-shadow: 0 10px 200px rgba(68, 117, 242, 0.2);
}

.book {
    position: absolute;
    width: 140px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
}

.book:hover {
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.btn-login:hover {
    transform: translateX(100px 50px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}


.book-1 {
    top: 10%;
    left: 10%;
    transform: rotate(-10deg);
}

.book-2 {
    top: 5%;
    right: 15%;
    transform: rotate(8deg);
}

.book-3 {
    bottom: 15%;
    left: 20%;
    transform: rotate(-5deg);
    z-index: 2;
}

.book-4 {
    bottom: 10%;
    right: 5%;
    transform: rotate(12deg);
}

.fitur {
    background-color: #1e1b1b;
    padding: 80px 8%;
    text-align: center;
}

.fitur-header h2 {
    font-size: 32px;
    margin: 10px 0 50px;
}

.layanan-header span {
    font-size: 32px;
    margin: 10px 0 50px;
    background-color: #1e1b1b;
    padding: top 15px;
    ;
    text-align: center;
}

.fitur-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.fitur-card {
    background: #4475f2;
    color: rgb(245, 245, 245);
    padding: 40px;
    border-radius: 25px;
    text-align: left;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(68, 117, 242, 0.2);
}

.layanan-card {
    background: #4475f2;
    color: rgb(245, 245, 245);
    padding: 40px;
    border-radius: 25px;
    text-align: left;
    transition: 0.3s;
}

.fitur-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.fitur-grid h2 {
    text-align: center;
    padding: 10px;

}

.footer-bottom {
    margin: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}


.tag span {
    font: bold;
}

.layanan {
    background-color: #1e1b1b;
    padding: 80px 8%;
    text-align: center;
}

.ulasan {
    background-color: #1e1b1b;
    padding: 80px 8%;
    text-align: center;
}

.ulasan-header h2 {
    font-size: 32px;
    margin: 10px 0 50px;
}

.ulasan-grid {
    display: grid;
    gap: 30px;
}

.ulasan-card {
    background: #4475f2;
    color: rgb(245, 245, 245);
    padding: 40px;
    border-radius: 25px;
    text-align: left;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(68, 117, 242, 0.2);
}


.click-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.click {
    background-color: #2a2626;
    width: 90%;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
    animation: popEffect 0.3s ease-out forwards;
}

@keyframes popEffect {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.click h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #ccc;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #444;
    background: #1e1b1b;
    color: white;
    outline: none;
}

.input-group input:focus {
    border-color: #007bff;
}

.button-primary {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.button-primary:hover {
    background-color: #0056b3;
}


.close-click {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    color: #888;
    cursor: pointer;
}

.close-click:hover {
    color: white;
}

.lupa,
.form-footer {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.lupa a,
.form-footer a {
    color: #007bff;
    text-decoration: none;
}


.ulasan-card:hover {
    transform: translateY(-10px);
    background: #335bc7;
}

.ulasan-card strong {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.rating {
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.ulasan-card p {
    line-height: 1.5;
    opacity: 0.9;
}

.layanan-card :hover {
    box-shadow: 0 10px 20px rgba(68, 117, 242, 0.2);
    transform: translateY(-15px);
}


@media (max-width: 992px) {
    .container {
        padding: 20px 5%;
    }

    .menu2 {
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
    }

    .menu-content {
        order: 1;
        margin-bottom: 40px;
    }

    .gambar {
        order: 2;
        height: 400px;
        transform: scale(0.9);
    }
}


@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        max-width: 100%;
    }

    .menu-content h1 {
        font-size: 28px;
    }

    .gambar {
        transform: scale(0.75);
        height: 350px;
        max-width: 100%;
    }

    .book {
        width: 110px;
        height: 160px;
    }

    .fitur {
        padding: 40px 5%;
    }

    .layanan {
        padding: 40px 5%;
    }

    .ulasan {
        padding: 40px 5%;
    }

    .footer-bottom {
        margin: 30px 20px;
        text-align: center;
        justify-content: center;
    }

    .footer-bottom p {
        text-align: center;
        width: 100%;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
